.topbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    // background-color: #66b0ff83;
}
.login-page{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #EDF7FD;
    position: relative;
    .login-bg{
        right: 0;
        height: 557px;
        z-index: 9;
        width: 378px;
        bottom: 0;
        position: absolute;
    }
    .login-box{
        padding: 16px;
        background-color: white;
        height: 100vh;
        width: 100%;
        display: table;

        .login-content{
            display: table-cell;
            vertical-align: middle;
        }
    }
    .text-subtitle{
        font-size: 1.1rem;
        opacity: .6;
    }
}
.btn-primary{
    background-color: #66B1FF!important;
    border-color: #66B1FF!important;

}
.btn-rouded{
    border-radius: 30px !important;
}
.btn-white{
    background-color: white!important;
}
.btn{
    &:focus{
        background-color: #66B1FF;
        color: white;
        opacity: .8;
        box-shadow: unset!important;
    }
    &:active{
        opacity: .5;
        box-shadow: unset!important;
    }
}
.text-bold{
    font-weight: bold;
}
.footer{
    background-color: #fff;
    z-index: 99;
    padding: 8px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    opacity: .4;
    p{
        font-weight: bold;
        text-align: center;
    }
}
.form__group {
    min-width: 120px;
    width: auto;
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}

.form__field {
    &.fillBlank{
        display: inline-block;
        padding: 10px;
        width: 100px;  
    }
    
    width: 100%;
    border: 0;
    border-bottom: none;
    outline: 0;
    color: #1d1d1d;
    border-bottom: 2px solid rgb(207, 207, 207);
    padding: 7px 0;
    font-size: 12px;
    background: transparent;
    transition: border-color 0.2s;
    &:focus {
        padding-bottom: 6px;
        border-bottom: 2px solid #66B1FF;
    }
}
.form{
    width: 100%;
}
.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 12px;
    cursor: text;
    top: 20px;
    color: grey;
}

.form__label,
.form__field:focus~.form__label {
    position: absolute;
    top: 5px;
    color: #66B1FF;
    display: block;
    transition: 0.2s;
    font-size: 9px;
}

.switch{
    user-select: none;
    cursor: pointer;
    box-shadow: 0px 0px 4px #dbdbdb;
    background-color: white;
    width: 60px;
    height: 30px;
    padding: 2.5px 0;
    border-radius: 30px;
    display: flex;
    .box{
        display: flex;
        width: 100%;
        justify-content: center;
        position: relative;
        align-items: center;
        &.active{
            .text{
                left: 8px!important;
                right: unset;
                
            }
            .child{
                animation: .1s linear 0s slide-left;
                left: unset;
                right: 2.5px!important;
            }
            
        }
        .text{
            flex: 1;
            right: 8px;
            color: #66B1FF;
            position: absolute;
            z-index: 99;
            font-size: .75rem;
        }
        .child{
            position: absolute;
            left: 2.5px;
            border-radius: 50%;
            animation: .1s linear 0s slide-right;
            background-color: #66B1FF;
            box-shadow: 0px 0px 4px #dbdbdb;
            width: 25px;
            height: 25px;
        }
    }
}
.error {
    .form__field{
        border-color: red;
    }
    .form__label{
        color: red!important;
    }
}
@keyframes slide-left {
    from {
      right: 20px;
    }
  
    to {
      right: 2.5px;
    }
  }
  
  @keyframes slide-right {
    from {
      left: 20px;
    }
  
    to {
      left: 2.5px;
    }
  }
@media(min-width: 768px){

}
@media(max-width: 767px){
    .login-bg{
        width: 250px!important;
        height: 170px!important;
    }
}